/dados_completos_input_output.json
/dados_entrada_completos.json
/resultados_completos.json
/venv
/__pycache__
/python
*.pyc

mrp_advanced_results.json
mrp_results_completos.json
mrp_sporadic_results.json
mrp_results_corrigidos.json
mrp_result_with_intelligent_batch_sizes.json
resultado_*.json
